@charset "UTF-8";

body{
	margin: 0;
}
header{
	background-color: #657C8D;
	height: 100px;
	min-width: 1800px;
}

.container-box{
	margin: 0;
	width:100%;
	height:811px;
}

.board-list{
	float: left;
	background-color: #657C8D;
	width: 15%;
	height: 845px;
}

.board-list-ul{
	list-style-type: none;
}

.board-list-ul>li{
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	
}

.board-list-ul a{
	color: black;
	text-decoration: none;
}

.select-board{
	font-size: 25px;
	font-weight: bold;
	margin: 17px 0 !important;
	padding: 0 !important;
}

.out-adminPage{
	margin-top: 430px;
}

.out-text{
	margin-left: 33px;
	color: white;
	text-decoration: none;
}
.out-text:hover{
	text-decoration: underline;
}

.board-main{
	float: left;
	width: 85%;
}
.title-board{
	margin-top: 25px;
	margin-left: 50px;
}

.display-flex{
	display: flex;	
}

.container-top{
	height: 45%;
	margin-top: 40px;
	margin-left: 55px;
}

.enter-container{
	width: 60%;
	height: 90%;
	align-items: center;
}

.title-div{
	font-weight: bold;
	border-bottom: 1px solid black;
}

.title-text{
	padding-left: 10px;
	font-size: 25px;
}

.content-enter{
	margin: 10px auto 0;
	width: 95%;
	height: 300px;
	border: 1px solid lightgray;
}

.user-container{
	margin-left: 100px;
	align-items: flex-center;
	width: 20%;
}

.content-user{
	width: 95%;
	margin: 5px auto 0;
}

.table-user{
	border: none !important;
	width: 95% !important;
	height: 98%;
	margin: 0 auto !important;
	text-align: center;
}

.table-user td{
	border: none;
}

.tr-user{
	border-top: 1px solid #96caf0;
}

.td-user{
	border-left: thick double #96caf0 !important;
	border-right: 1px solid #96caf0 !important;
	border-right-width: 80%;
}
